@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-main: rgb(57, 60, 87);
    --bg-secondary: hsla(234, 48%, 13%, 0.8);
    --font-header: rgb(245, 245, 224);
    --font-main: rgb(219, 219, 216);
    --circle-player: rgb(0, 255, 0);
    --circle-comp: rgb(221, 1, 1);
    --draw-clr: rgba(247, 247, 25, 0.3);
    --win-clr: rgba(101, 247, 4, 0.3);
    --lost-clr:  rgba(247, 35, 35, 0.3);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: var(--font-header);
    margin-bottom: 10px;
    font-size: 2.1rem;
    letter-spacing: .2rem;
}

img {
    cursor: pointer;
    width: 80px;
    border-radius: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.victor-container {
    margin-block: 40px;
}

.victor-container h1 {
    text-decoration: underline;
}

.container {
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 700px;
    width: 850px;
    max-width: 100%;
    animation: float-body 3s infinite alternate ease-in-out;
}

.container::after {
    content: "";
    position: absolute;
    inset: 1rem 1rem -1rem 1rem;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
    opacity: .8;
    filter: blur(.8rem);
    animation: float-shadow 3s infinite alternate ease-in-out;
}

.container h1 {
    padding: 50px;
}

.header {
    display: flex;
    flex-direction: row;
}

.score-area {
    display: flex;
    align-items: center;
    padding: 20px;
}

.score-text {
    margin-inline: 10px;
    color: var(--font-main);
}

.score-container {
    margin-bottom: 30px;
}

.score-text {
    font-size: 1.5rem;
}

#player-score,
#computer-score {
    display: flex;
}

.circle-player {
    width: 13px;
    height: 13px;
    background-color: var(--circle-player);
    border: 1px solid var(--font-header);
    border-radius: 50%;
    margin: 5px;
    flex-shrink: 0;
}

.circle-comp {
    width: 13px;
    height: 13px;
    background-color: var(--circle-comp);
    border: 1px solid var(--font-header);
    border-radius: 50%;
    margin: 5px;
    flex-shrink: 0;
}

.circle-dmg {
    width: 13px;
    height: 13px;
    background-color: var(--font-main);
    border: 1px solid var(--font-header);
    border-radius: 50%;
    margin: 5px;
}

.picks-container {
    display: flex;
    gap: 20px;
}

.picks-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.picks-text {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: var(--font-main);
}

#computer-pick:hover,
#player-pick:hover {
    cursor: auto;
}

.img-container {
    margin-top: 60px;
}

.img-container img {
    margin-inline: 15px;
}

.img-container img:hover {
    opacity: 0.7;
    outline: none;
}

#action-text {
    color: var(--font-main);
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    border: 1px solid var(--font-header);
}


/* functionality colors ans*/

.win {
    background-color: var(--win-clr);
}

.lost {
    background-color: var(--lost-clr);
}

.draw {
    background-color: var(--draw-clr);
}

.default {
    background-color: var(--bg-secondary);
}

.hidden {
    display: none;
}

.wresult {
    display: inline;
    color: rgb(101, 247, 4);
}

.lresult {
    display: inline;
    color:rgb(247, 35, 35);
}

@keyframes float-body {
    100% {
        translate: 0 -1em;
        scale: 1.0120;
    }
}

@keyframes float-shadow {
    100% {
        scale: 1.0;
        translate: 0 .6em;
        opacity: .9;
    }
}
